<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Pagina realizada con spring-boot" name="description">
    <title>Edición de Juegos - LucaSteam</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/sidebars.css}"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">LucaSteam</a>
    <button aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler position-absolute d-md-none collapsed" data-bs-toggle="collapse" href="#sidebarMenu" role="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <h2 class="text-white">Edición de Juegos</h2>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="sidebarMenu">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" href="/">
                            <span data-feather="home"></span>
                            Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/add}">
                            <span data-feather="add-game"></span>
                            Añadir Juego
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/search}">
                            <span data-feather="search-game"></span>
                            Búsqueda
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/publishers}">
                            <span data-feather="search-game"></span>
                            Listado de Editoras
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" th:href="@{/yearpair}">
                            <span data-feather="yearpair-game"></span>
                            Juegos de Año Par
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/superventas}">
                            <span data-feather="superventas-game"></span>
                            Juegos Super Ventas

                        <a class="nav-link" th:href="@{/nintendoGames}">
                            <span data-feather="search-game"></span>
                            Juegos de consolas de Nintendo

                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container-fluid overflow-auto">
                <div class="row">
                </div>
                <div class="row">
                    <form method="post" th:action="@{/save}" th:object="${game}">
                        <input id="id" th:field="*{id}" type="hidden"/>

                        <div class="form-group  mt-3 ">
                            <label for="game">Nombre</label> <input class="form-control"
                                                                    id="game" placeholder="Nombre del juego" th:field="*{name}"
                                                                    type="text">
                        </div>

                        <div class="form-group mt-3 ">
                            <label for="genre">Genero</label> <input class="form-control"
                                                                     id="genre" placeholder="Genero del juego" th:field="*{genre}"
                                                                     type="text">
                        </div>

                        <div class="form-group mt-3 ">
                            <label for="platform">Plataforma</label> <input class="form-control"
                                                                            id="platform" placeholder="Plataforma"
                                                                            th:field="*{platform}"
                                                                            type="text">
                        </div>

                        <div class="form-group mt-3 ">
                            <label for="publisher">Publisher</label> <input class="form-control"
                                                                            id="publisher" placeholder="Publisher"
                                                                            th:field="*{publisher}"
                                                                            type="text">
                        </div>

                        <div class="form-group mt-3 ">
                            <label for="year">Año</label> <input class="form-control"
                                                                 id="year" max="2021" min="1960"
                                                                 placeholder="Año de lanzamiento"
                                                                 th:field="*{year}" type="number">
                        </div>

                        <div class="form-group mt-3 ">
                            <label for="sales">Ventas</label> <input class="form-control"
                                                                     id="sales" max="900000000"
                                                                     min="0" placeholder="Numero de ventas"
                                                                     step="any" th:field="*{euSales}"
                                                                     type="number">
                        </div>
                        <div class="row mt-5 ">

                            <div class="col btn-group">
                                <button class="btn btn-success btn-lg m-4 rounded-3" type="submit">Guardar
                                </button>
                                <button class="btn btn-danger btn-lg m-4 rounded-3" id="delete" th:formaction="@{/delete}"
                                        type="submit">Borrar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>


<script th:href="@{/js/bootstrap.bundle.min.js}"></script>
<script th:href="@{/js/dashboard.js}"></script>
<script th:href="@{/js/sidebars.js}"></script>
</body>
</html>



