<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pagina realizada con spring-boot">
    <title>LucaSteam</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/sidebars.css}" />
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                    <span class="fs-4">Sidebar</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                          <a href="#" class="nav-link active" aria-current="page">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                            Home
                          </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                              Dashboard
                            </a>
                        </li>
                        <li>
                          <a href="#" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                            Orders
                          </a>
                        </li>
                        <li>
                          <a href="#" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                            Products
                          </a>
                        </li>
                        <li>
                          <a href="#" class="nav-link text-white">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                            Customers
                          </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>

                <div class="b-example-divider"></div>


                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-9">
                    <h2>Section title</h2>
                    <div class="table-responsive">
                      <table class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Platform</th>
                            <th scope="col">Publisher</th>
                            <th scope="col">eu_sales</th>
                            <th scope="col">year</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr th:each="game, status : ${gameList}">
				<td th:text="${status.index + 1}" />
				<td th:text="${game.name}" />
				<td th:text="${game.genre}" />
				<td th:text="${game.platform}" />
                                <td th:text="${game.publisher}" />
                                <td th:text="${game.eu_sales}" />
				<td th:text="${game.year}" />
				<td><a th:href="@{/edit(id=${game.id})}">Modificar</a> | <a
					th:href="@{/delete(id=${game.id})}">Eliminar</a></td>
                            </tr>
                          
                        </tbody>
                      </table>
                    </div>
    
                </div>
                
    
            </div>
        </div>
    </main>


    <script th:href="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:href="@{/js/dashboard.js}"></script>
    <script th:href="@{/js/sidebars.js}"></script>
  </body>
</html>
